@font-face {
    font-family: "Syne_Mono";
    src: url(Syne_Mono/SyneMono-Regular.ttf) format("truetype");
}


h1{
    font-family: "Syne_Mono", monospace, Arial;
	text-align: center;
}

p{
	font-family: "Syne_Mono", monospace, Arial;
    text-align: center;
}


body{
    background-attachment: fixed;  
}

.entry-text{
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
}


/* -------------------------------------altered code snippet from ribo.zone------------------------------------- */
.entry-button {
    width: fit-content;
    height: fit-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .entry-button span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-family: "Syne_Mono", monospace, Arial;;
    font-size: 50px;
    color: black;
  }

  .entry-button:hover span, .entry-button:focus span {
    opacity: 1;
  }
  .entry-button:hover img, .entry-button:focus img {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition: transform .3s;
}
/* --------------------------------------------------------------------------------------------------------- */

.stamp{
    position: fixed;
    bottom: 25px;
    left: 25px;
    height: 100px;
    width: 80px;
    transition: .3s;
 }

.stamp:hover{
    rotate: 10deg;
    cursor: help;
}

/*FIRST BUTTON*/
.nav1{
    position: fixed;
    top: 50px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;

}

.nav1:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*SECOND BUTTON*/
.nav2{
    position: fixed;
    top: 220px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav2:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*THIRD BUTTON*/
.nav3{
    position: fixed;
    top: 390px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav3:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*FOURTH BUTTON*/
.nav4{
    position: fixed;
    top: 560px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav4:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}