html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Syne_Mono";
    src: url(Syne_Mono/SyneMono-Regular.ttf) format("truetype");
    font-family: "RubikDirt";
    src:url(RubikDirt/RubikDirt-Regular.ttf) format("truetype");
}

header{
    font-family: "RubikDirt", monospace, Arial;
    font-size: 48px;
    text-align: center;
    padding: 30px;
}
h1{
    font-family: "RubikDirt", monospace, Arial;
    font-size: 36px;
	text-align: left;
    padding: 25px;
    padding-left: 7.5%;
    opacity: 85%;
}

h2{
	font-family: "Syne_Mono", monospace, Arial;
    font-size: 24px;
	text-align: left;
    padding: 15px;
    padding-left: 7.5%;
    opacity: 85%;
}

p{
	font-family: "Syne_Mono", monospace, Arial;
    line-height: 2em;
}

body{
    margin: 0;
    background-image: url('img/paper-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

li{
    font-family: "Syne_Mono", monospace, Arial;
    padding: 20px;
    list-style-type: square;
    line-height: 2em;
}

/* -------------------------------------altered code snippet from ribo.zone------------------------------------- */
/* change this code to match nav buttons + design img (postcard)*/
.entry-button {
    width: fit-content;
    height: fit-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .entry-button-sml {
    width: fit-content;
    height: fit-content;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .entry-button:hover img, .entry-button:focus img {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition: transform .3s;
}
/* --------------------------------------------------------------------------------------------------------- */
.textbox{
    position: absolute;
    display: block;
    text-align: center;
    padding: 5px;
    left: 50%;
    transform: translate(-50%);
}

.stamp{
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 100px;
    width: 80px;
    transition: .3s;
 }

.stamp:hover{
    rotate: 10deg;
    cursor: help;
}

/*FIRST BUTTON*/
.nav1{
    position: fixed;
    top: 50px;
    right: 160px;
    height: 100px;
    width: 100px;
    transition: transform .3s;

}

.nav1:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

/*SECOND BUTTON*/
.nav2{
    position: fixed;
    top: 50px;
    right: 30px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav2:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

/*THIRD BUTTON*/
.nav3{
    position: fixed;
    top: 200px;
    right: 160px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav3:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

/*FOURTH BUTTON*/
.nav4{
    position: fixed;
    top: 200px;
    right: 30px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav4:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

/*FIFTH BUTTON*/
.nav5{
    position: fixed;
    top: 350px;
    right: 160px;
    height: 100px;
    width: 100px;
    transition: transform .3s;

}

.nav5:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

/*SIXTH BUTTON*/
.nav6{
    position: fixed;
    top: 350px;
    right: 30px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav6:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

/*SEVENTH BUTTON*/
.nav7{
    position: fixed;
    top: 500px;
    right: 160px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav7:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

/*EIGHTH BUTTON*/
.nav8{
    position: fixed;
    top: 500px;
    right: 30px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav8:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}

.banner {
    width: 37.5%;
    height: 100vh;
    background: url('placeholder.png') no-repeat center center;
    background-size: cover;
}
.content {
    overflow: auto;
    flex-grow: 1;
    padding: 20px;
}

.container {
    display: flex;
    width: 100vw;
}

.left{
    position: relative;
    width: 90px;
    height: 100%;
    left: 0;
}

.paragraphs{
    overflow: auto;
    position: relative;
    padding: 5px;
    width: 70vw;
    height: 98vh;
}

@media (max-width: 650px) {
    .entry-button{
        display: none;
    }
    .entry-button-sml{
        display: block;
    }
    .navigation {
      display: none;
    }
    .banner {
        display: none;
    }

    .paragraphs{
        overflow: auto;
        width: 90vw;
        height: 100%;
    }
}