html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Syne_Mono";
    src: url(Syne_Mono/SyneMono-Regular.ttf) format("truetype");
    font-family: "RubikDirt";
    src:url(RubikDirt/RubikDirt-Regular.ttf) format("truetype");
}

h1{
    font-family: "RubikDirt", monospace, Arial;
    font-size: 24px;
	text-align: left;
    padding: 50px;
    padding-left: 7.5%;
    opacity: 85%;
}

p{
	font-family: "Syne_Mono", monospace, Arial;
    line-height: 2em;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/paper-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

li{
    font-family: "Syne_Mono", monospace, Arial;
    padding: 20px;
    list-style-type: square;
    line-height: 2em;
}

/* -------------------------------------altered code snippet from ribo.zone------------------------------------- */
/* change this code to match nav buttons + design img (postcard)*/
.entry-button {
    width: fit-content;
    height: fit-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .entry-button span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-family: "RubikDirt", monospace, Arial;
    font-size: 64px;
    color: rgba(171, 28, 28, 0.8);
  }

  .entry-button:hover span, .entry-button:focus span {
    opacity: 1;
  }
  .entry-button:hover img, .entry-button:focus img {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition: transform .3s;
}
/* --------------------------------------------------------------------------------------------------------- */

.stamp{
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 100px;
    width: 80px;
    transition: .3s;
 }

.stamp:hover{
    rotate: 10deg;
    cursor: help;
}

/*FIRST BUTTON*/
.nav1{
    position: fixed;
    top: 50px;
    right: 200px;
    height: 100px;
    width: 100px;
    transition: transform .3s;

}

.nav1:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*SECOND BUTTON*/
.nav2{
    position: fixed;
    top: 50px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav2:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*THIRD BUTTON*/
.nav3{
    position: fixed;
    top: 200px;
    right: 200px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav3:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*FOURTH BUTTON*/
.nav4{
    position: fixed;
    top: 200px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav4:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*FIFTH BUTTON*/
.nav5{
    position: fixed;
    top: 350px;
    right: 200px;
    height: 100px;
    width: 100px;
    transition: transform .3s;

}

.nav5:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*SIXTH BUTTON*/
.nav6{
    position: fixed;
    top: 350px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav6:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*SEVENTH BUTTON*/
.nav7{
    position: fixed;
    top: 500px;
    right: 200px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav7:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/*EIGHTH BUTTON*/
.nav8{
    position: fixed;
    top: 500px;
    right: 50px;
    height: 100px;
    width: 100px;
    transition: transform .3s;
}

.nav8:hover {
    filter: saturate(150%);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.container {
    display: flex;
    width: 90%;
}

.banner {
    width: 37.5%;
    height: 100vh;
    background: url('placeholder.png') no-repeat center center;
    background-size: cover;
}
.content {
    overflow: auto;
    flex-grow: 1;
    padding: 20px;
}

.left{
    flex-grow: 1;
    padding: 10px;
    width: 90px;
    height: 100vh;
    position: fixed;
    left: 0%;
}

.paragraphs{
    overflow: auto;
    flex-grow: 3;
    padding: 15px;
    width: 55%;
    position: absolute;
    left: auto;

}

.navigation{
    overflow: visible;
    flex-grow: 1.5;
}

@media (max-width: 650px) {
    .navigation {
      display: none;
    }
    .banner {
        display: none;
    }

    .paragraphs{
        width: 90%;
    }
}